@import 'config';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
}


 
a {
    text-decoration: none;
}

.showcase {
    @include set-background($primary-color);

    //background-color: $primary-color;
    // color: #fff;
     //color: set-text-color($primary-color);
     height: 500px;

nav {
        display: flex;
        text-align: center;
        justify-content: space-around;
    
        ul {
            display: flex;
          list-style-type: none;
        }

        li {
           padding: 0 15px;           
        }

        a {
            color: set-text-color($primary-color);
        }
    a:hover {
        color: $secondary-color;
    }

    .logo {
        font-family: carsive;
        font-weight: bold;
        font-size: 30px;
    }

    span {
        color: $secondary-color;
    }
}
 

    &-content {
        height: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
        margin-top: 30px;
    }

 

    h1 {
        font-size: 45px;
        line-height: 1.2;
    }

  

}

 
@import 'utilities';
@import 'images';
@import 'buttons';
@import 'mobile';